/* === FOOTER === */

footer {
    display: flex;
    justify-content:space-around;
    border-top: 1px solid black;
    margin-top:20px;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content:space-between;
}

@media all and (max-width:650px) {
    #footer-menu ul {
        flex-direction: column;
        justify-content:space-between;
    }
    #footer-menu ul li {
        text-align: center;
    }
}

#footer-menu ul li {
    padding: 1em;
}

#footer-menu ul li a {
    font-family: 'spacemono';
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}