/* === LIGHTBOX === */

#lightbox {
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox-fond {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgba(000, 000, 000, .8);
    top: 0;
    left: 0;
    animation: obtur .2s 0s both ease-out;
    display: flex;
    justify-content: center;
}

.lightbox-fleches__prev, .lightbox-fleches__next {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
    padding: 0 20px;
}

.lightbox-fleches__prev {
    background: url("../assets/prev.svg") no-repeat center left;
}

.lightbox-fleches__next {
    background: url("../assets/next.svg") no-repeat center right;
}

.lightbox-fleches__prev a, .lightbox-fleches__next a {
    font-family:var(--secondary-f-family);
    color: black;
    text-transform: uppercase;
}

#lightbox-img {
    max-width: 70%;
    max-height: 100vh;
    display: flex;
    align-items: self-end;
    justify-content: center;
    animation: obtur 1.3s .1s both ease-out;
}

#lightbox-img img {
    max-height: 100vh;
    width: auto;
}

@keyframes obtur { 
    0% { scale: 0 }
    100% { scale: 1 }
}

.lightbox-titre, .lightbox-categorie a {
    font-family:var(--secondary-f-family);
    color: white;
    text-transform: uppercase;
}

.lightbox-titre {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.lightbox-categorie {
    position: absolute;
    right: 20px;
    Bottom: 10px;
}