#modale-contact {
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modale-contact #fond {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .7;
    top: 0;
    left: 0;
}

#modale-contact #form {
    position: absolute;
    padding: 2em;
    opacity: 1;
    border: 5px solid black;
    width: 600px;
    height: 770px;
    max-height: 90vh;
    display: flex;
    align-items: self-end;
    justify-content: center;
    background: url("../assets/contact-header.svg") no-repeat top center white;
}

#form label {
    text-transform: uppercase;
    font-family:'poppins-medium';
    color: var(--secondary-color-clair);
    background-color:white;
}

#form input[type='text'], 
#form input[type='email'],
#form textarea {
    border: 1px solid #B8BBC2;
    border-radius:8px;
    height: 40px;
    width: 263px;
}

#form textarea {
    height: 210px;
}

#form input[type='submit'] {
    border: 0px;
    background-color: var(--gris-medium);
    font-family: "spacemono";
    font-size:  var(--size-base);
    padding: 8px 15px;
    display: block;
    margin: auto;
}

.display-none {
    display: none!important;
 }