#modale-contact {
    position:fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modale-contact #fond {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .7;
    top: 0;
    left: 0;
}

#modale-contact #form {
    position: absolute;
    padding: 1em;
    background-color: white;
    opacity: 1;
    border: 5px solid black;
}

 .display-none {
    display: none;
 }
