.hero h1 {
    font-family: 'spacemono-bolditalic';
    text-transform:uppercase;
    font-size:96px;
    color:rgba(255, 255, 255, 0)! important;
    -webkit-text-stroke: 2px #fff;
    z-index: 1;
}

.wp-block-cover.hero .wp-block-cover__inner-container, .wp-block-cover.hero .wp-block-cover__background {
    z-index:0;
}

