/* === SINGLE CPT PHOTO === */

.photo-single, .photo-single__footer, .photo-single__apparentees {
    max-width: 1148px;
    margin: auto;
}

.photo-single {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-top: 15px;
}

@media all and (max-width:1200px) {
    .photo-single, .photo-single__footer, .photo-single__apparentees {
        padding : 0 2vw;
    }
}

.photo-info {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    width: 50%;
    max-width: 50vw;
}

.photo-info h2 {
    line-height: 58px;
    max-width: 420px;
}

.photo-info ul {
    list-style: none;
    padding-left:0;
    max-width: 420px;
}

.photo-info li {
    font-family: var(--primary-f-family);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-bottom: 21px;
}

.photo-info li:last-of-type {
    padding-bottom: 31px;
}

.photo-info a {
    color: black;
}

.photo-image {
    width : auto;
    height: auto;
    max-width: calc(1148px / 2);
    max-height: calc(100vh - (118px + 87px));
    position: relative;
}

.photo-image img {
    max-width: calc(1148px / 2);
    max-height: calc(100vh - (118px + 87px));
    object-fit: contain;
    bottom: 0;
    right: 0;
}

.photo-image .icon-fullscreen {
    bottom: 20px;
    opacity: 0;
    z-index: 2;
    transition: opacity 1s;
    position: absolute;
    top: inherit;
}

.photo-image img:hover + .icon-fullscreen, .photo-image .icon-fullscreen:hover {
    opacity: 1;
}

@media all and (max-width:650px) {
    .photo-single {
        flex-direction: column-reverse;
        align-items: center;
        padding : 0;
    }
    .photo-info, .photo-image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .photo-info h2, .photo-info ul  {
        padding: 0 2vw;
    }
    .photo-info h2  {
        margin-top: 10px;
        margin-bottom: 0;
    }
    .photo-image {
        text-align: center;
    }
    .photo-image img {
        max-width: 100vw;
        position: relative;
        height: auto;
    }
    .photo-image .icon-fullscreen {
        display: none;
    }
}

.photo-info ul li a:nth-child(2) {
    display:none;
}

.photo-single__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid black;
    height: 118px;
}

.photo-single__footer__cta {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-single__footer__cta p {
    font-family: var(--tertiary-f-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;    
}

.photo-single__footer__cta .btn-base {
    width: 272px;
    height: 50px;
}

@media all and (max-width:850px) {
    .photo-single__footer__cta {
        flex-direction:column;
        justify-content: center;
        padding-top:20px;
    }
    .photo-single__footer__cta p, .photo-single__footer__cta .btn-base {
        margin:5px;
    }
    .photo-single__footer__cta p {
        text-align: left;
    }
}
@media all and (max-width:650px) {
    .photo-single__footer {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom:20px;
    }
    .photo-single__footer__cta {
        width:100%;
    }
}

.photo-single__apparentees p {
    font-family: var(--primary-f-family);
    font-weight: 400;
    font-size:  18px;
    text-transform: uppercase;
}

.photo-single__apparentees .btn-base {
    margin: 40px auto 60px;
}

.photo-single__apparentees .photo-grille {
    padding-bottom: 20px;
}